<app-title [title]='title'></app-title>
<h1>1.指令</h1>
<p [ngClass]="{color:flag}">ngClass</p>
<p [ngStyle]="{color: color}">ngStyle</p>
<p *ngIf="flag">ngIf true</p>
<p *ngIf="!flag">ngIf false</p>
<hr>
<h5>*ngFor</h5>
<ul>
    <li *ngFor="let item of list;index as key">
        {{key}} ------{{item}}
    </li>
    <!-- <li *ngFor="let item of list;let key = index">
        {{key}} ------{{item}}
    </li> -->
</ul>
<h5>*ngSwitch</h5>
<div [ngSwitch]="flag">
    <div *ngSwitchCase="true">output1</div>
    <div *ngSwitchDefault>output2</div>
</div>
<hr>
<h1>2.事件</h1>
<button (click)='click($event)'>点击事件</button>
<h1>3.双向数据绑定</h1>
<input type="text" [(ngModel)]="binding">
<span>{{binding}}</span>
<h1>4.服务</h1>
<button (click)='getService()'>调用服务方法</button>
<h1>5.生命周期函数</h1>
<div #vbox>ViewChildren</div>
<h1>6.子父组件传参</h1>

<h1>7.ajax请求</h1>
<div><button (click)='agget()'>angular自带http模块 get请求</button></div>
<div><button (click)='agpost()'>angular自带http模块 post请求</button></div>
<div><button (click)='agjsonp()'>angular自带http模块 jsonp请求</button></div>
<div><button (click)='axiosget()'>axios get请求</button></div>
<div><button (click)='axiospost()'>axios post请求</button></div>



