.app_navigation{
    background-color: rgba(63, 43, 43, 0.603);
    text-align: center;
    a{
      padding: 10px 40px; 
      text-decoration: none; 
      color:black;
    }
    a.active{
        color:white;
    }
}